<div class="main">

  <app-filters></app-filters>

  <div class="catalog">
    <div class="catalog__item" *ngFor="let product of products">
      <div class="item__photo">
        <img src="../../assets/img/{{product.picture}}.jpg" />
      </div>
      <p class="item__title">{{product.name}}
        <span>Rating {{product.customerRating}}</span>
      </p>
      <hr/>
      <h3 class="item__price">{{product.price | currency}}</h3>
    </div>

    <app-pagination></app-pagination>
  </div>
</div>

<!--<app-alert></app-alert>-->

