<div class="main">

  <div class="filters">
    <app-filters></app-filters>
  </div>

  <div class="catalog" *ngIf="paginatedProducts && paginatedProducts.length; else noItems">
    <div class="catalog__item" *ngFor="let product of paginatedProducts" (click)="openModal(product)">
      <div class="item__photo">
        <img src="../../assets/img/{{product.picture}}.jpg" />
      </div>
      <p class="item__title">{{product.name}}
        <app-star-rating [rating]="product.customerRating"></app-star-rating>
      </p>
      <hr/>
      <h3 class="item__price">{{product.price | currency}}</h3>
    </div>

    <div *ngIf="paginatedProducts && paginatedProducts.length" class="catalog__pagination">
      <app-pagination></app-pagination>
    </div>
  </div>

  <ng-template #noItems>
    <span>No products</span>
  </ng-template>
</div>

