<div class="filter">
  <mat-form-field class="search" appearance="fill">
    <mat-icon matPrefix><img src="assets/img/search.svg" alt="Search icon"></mat-icon>
    <input #searchField matInput placeholder="Search products..." [value]="search$ | async" (input)="searchProducts(searchField.value)">
  </mat-form-field>
</div>

<div class="filter">
  <p class="filter__title">Product Type</p>
  <mat-form-field appearance="fill">
    <mat-select [(value)]="productType" (selectionChange)="changeTypeSelection($event.value)">
      <mat-option [value]="option.value" *ngFor="let option of productTypes">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="filter">
  <p class="filter__title">Price</p>
  <p *ngFor="let option of prices$ | async">
    <mat-checkbox [checked]="option.checked" (change)="changePriceSelection($event, option.viewValue)">{{ option.viewValue }}</mat-checkbox>
  </p>
</div>
