.filter {
  margin-bottom: 20px;

  .search {
    img {
      height: 10px;
      width: auto;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #6096e9 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #6096e9 !important;
}

::ng-deep .mat-form-field-ripple{
  background-color: #6096e9 !important;
}

::ng-deep .mat-select-value, ::ng-deep .mat-form-field-prefix, .search ::ng-deep .mat-form-field-infix {
  transform: translateY(-6px);
}
