<h1 mat-dialog-title>{{data.product.name}}</h1>
<div mat-dialog-content>
  <div class="item__photo">
    <img src="../../assets/img/{{data.product.picture}}.jpg" />
  </div>
  <p class="item__title">{{data.product.name}}
    <app-star-rating [rating]="data.product.customerRating"></app-star-rating>
  </p>
  <hr/>
  <h3 class="item__price">{{data.product.price | currency}}</h3>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addToCart(data.product)">Add to cart</button>
</mat-dialog-actions>
