<h1 mat-dialog-title class="dialog-title">{{data.product.name}}</h1>
<div mat-dialog-content class="dialog-content">
  <div class="product-info">
    <img src="../../assets/img/{{data.product.picture}}.jpg" />
    <div>
      <app-star-rating [rating]="data.product.customerRating"></app-star-rating>
      <h3>{{data.product.price | currency}}</h3>
      <p>Description:</p>
      <span>{{data.product.longDescription}}</span>
    </div>
  </div>
  <hr/>
  <div class="product-reviews" *ngIf="data.product.reviews.length">
    <h3>Reviews:</h3>
    <div class="review" *ngFor="let review of data.product.reviews">
      <div class="author-and-date">
        <span>{{review.author}}</span>
        <span>{{review.date}}</span>
      </div>
      <span>{{review.text}}</span>
    </div>
  </div>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addProductToCart(data.product)">Add to cart</button>
</mat-dialog-actions>
